/dist/
/coverage/
node_modules/
npm-debug.log
.rpt2_cache/
__pycache__/
*.egg-info/
.mypy_cache/
.pytest_cache/
.ruff_cache/
packages/python/build/
packages/python/dist/
packages/python/.venv/
packages/php/.phpunit.cache/
packages/php/vendor/
packages/php/dist/
packages/dotnet/**/bin/
packages/dotnet/**/obj/
